/*------------------------------*/
/*--Section Name----------------*/
/*------------------------------*/

.block-31 {
  margin-top: 150px;
  --block-background: white;
  --block-text-color: var(--text-primary);
  background: var(--block-background);
  color: var(--block-text-color);
  overflow: hidden;
  position: relative;
  z-index: 1
}

.block-31__row {
  height: 300px
}

@media (min-width:992px) {
  .block-31__row {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%
  }
}

.block-31__image-column {
  height: 100%;
  background-position: center;
  background-size: cover
}

@media (min-width:992px) {
  .block-31__image-column {
    margin: 0 !important
  }
}

.block-31__li {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  line-height: 1.5
}

.block-31__li:last-child {
  margin-bottom: 0
}

.block-31__li-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5px;
  background: rgba(0, 0, 0, .04);
  margin-bottom: 1.5rem
}

.block-31__li-paragraph {
  font-weight: 300
}