.pattern {
  position: absolute;
  height: 47%;
  width: 11%
}

.pattern--primary {
  color: var(--primary)
}

.pattern--left-bottom {
  bottom: 230px;
  left: 0
}

.pattern--right {
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto
}